body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.drag-region {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  pointer-events: none;
  z-index: 1000000;
}


.sidebar {
  background-color: black;
  width: 76px;
  padding-top: 40px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-button-account-add {
  margin-top: 16px;
}

.sidebar-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.sidebar-button + .sidebar-button {
  margin-top: 16px;
}

.sidebar-button-active {
  color: red;
}

.sidebar-account-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.webview-container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.webview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
}

.webview webview {
  width: 100%;  
  height: 100%;
}

.webview.hide {
  width: 0;  
  height: 0;
  overflow: hidden;
}
